html, 
body {
    height: 100%;
  margin: 0;
  overflow: hidden; 
}
#root {
  height: 100%;
  overflow: hidden;
}

h1, 
h2, 
h3 {
    font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

div {
  font-size: 16px;
}

